.signin-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: hidden;
    .logo {
        width: 50px;
    }
    .image {
        background: #ffe2ac;
        gap: 2rem;
        h4 {
            font-weight: 600;
            font-size: 1.5rem;
        }
        img {
            width: 400px;
            height: 500px;
            object-fit: contain;
        }
    }
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    min-height: 100vh;
}

.header-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 100%;
    margin-left: -1.5rem;
}

.top {
    width: 80%;
    margin-bottom: 1rem;
}

.left {
    width: 90%;
    a {
        text-decoration: underline;
        text-transform: capitalize;
        font-weight: 500;
        text-align: left;
        font-size: 0.7rem;
    }
}

.red {
    form {
        .form-input {
            input {
                border: 1px solid red;
            }
        }
    }
}

.signin-text {
    padding: 4rem 0 0;
}

.form {
    width: 100%;
    min-height: 70vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
    form {
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        // width: 350px;
        .form-input {
            width: 90%;
            margin: 5px 0;
        }
        .check {
            display: flex;
            gap: 10px;
            align-items: left;
            width: 90%;
            input {
                width: auto;
            }
            p {
                font-size: 0.8rem;
            }
        }
        label {
            font-weight: 600;
            display: block;
        }
        input {
            color: #808080;
            margin: 5px 0;
            width: 100%;
            padding: 10px;
            border: 1px solid #808080;
            border-radius: 2px;
        }
        .signin {
            background: #ffa500;
            color: #fff;
            font-size: 1rem;
            padding: 12px 3rem;
            margin-top: 2rem;
            border-radius: 5px;
        }
    }
}

.other-btn {
    background: #ffe2ac;
    width: 100%;
    padding: 2rem 0;
    h4 {
        text-transform: uppercase;
        margin: 10px 0;
    }
    p,
    h4 {
        text-align: center;
    }
    button {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        width: 100%;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        .googlein {
            background: #000;
            color: #fff;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
    .container {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 10px 0;
    }
}

.left {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.blue {
    color: #008cff;
}

.purple {
    color: #db08db;
}

.verify-email {
    background: #fff;
    height: 100vh;
    width: 100vw;
    position: relative;
    transition: all 0.3s ease;
    .verify-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        padding: 10px;
    }
    .btn-times {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.5rem;
    }
    h4 {
        text-transform: capitalize;
        font-size: 2rem;
    }
    .mail {
        font-size: 200px;
        line-height: 1.5rem;
    }
    .btn-container {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        button {
            font-size: 0.8rem;
            border-radius: 5px;
            background: #f53b3b;
            color: #fff;
            padding: 10px;
            &:nth-child(2n),
            &:nth-child(3n) {
                background: #fff;
                color: #f53b3b;
                border: 1px solid #f53b3b;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .signin-container {
        grid-template-columns: 100%;
        .image {
            display: none;
        }
    }
}

@media screen and (max-width: 430px) {
    .form {
        form {
            width: 90%;
            margin: 0 auto;
        }
    }
    .other-btn {
        .container {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 350px) {
    .form {
        width: 100%;
        form {
            .form-input {
                width: 95%;
            }
        }
    }
}