@import url('https://fonts.googleapis.com/css2?family=Abel&family=Silkscreen&family=Inter&family=Jost&family=Roboto&family=Montserrat&family=Open+Sans&family=Poppins&display=swap');
$red-color: #f53b3b;
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: "Poppins";
}

li {
    font-family: "Inter";
}

h1,
h5 {
    font-family: "Poppins";
    font-weight: 600;
}

p {
    font-family: "Jost";
}

h4,
h6 {
    font-family: "Inter";
    font-weight: 600;
}

img {
    width: 100%;
    height: 100%;
}

select,
input {
    border: none;
    outline: none;
    font-family: "Poppins";
}

label {
    font-family: "Inter";
}

section {
    width: 85%;
    margin: 0 auto;
}

button {
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-family: "Poppins";
    cursor: pointer;
}

.headline {
    color: $red-color;
    font-size: 1.25rem;
    text-transform: capitalize;
}

.tophead {
    color: #000;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 1rem 0;
}

.btn {
    border-radius: 25px;
    padding: 10px 1.5rem;
    text-transform: capitalize;
    transition: all 0.3s ease;
    color: #f53b3b;
}

.btn-blue {
    border: 4px solid #f53b3b;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.logo {
    img {
        width: 100px;
        margin: 0 auto;
    }
}

nav {
    padding: 10px 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 3rem;
    background: #fff;
    z-index: 10;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
    .navheader {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    z-index: 100;
    svg {
        height: 50px;
    }
}

.none {
    display: none;
}

.menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    ul {
        display: flex;
        gap: 1rem;
        font-family: "Poppins";
    }
    li {
        a {
            font-family: "Inter";
            text-transform: capitalize;
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
}

.menu-btn {
    display: none;
    svg {
        font-size: 1.4rem;
    }
}

.nav-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

////////////////HOME////////////////
.home {
    background: url("../assets/bgimg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 800px;
    display: flex;
    align-items: center;
    z-index: -1;
}

.home-container {
    display: grid;
    grid-template-columns: 60% 40%;
    place-items: center;
    gap: 2rem;
    .home-text {
        h1 {
            font-size: 3rem;
            font-weight: 600;
        }
        p {
            margin: 1rem 0;
        }
        .home-form {
            // width: 470px;
            background: #fff;
            border-radius: 40px;
            padding: 10px 1.5rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            form {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;
                input {
                    width: 250px;
                    padding: 10px;
                    height: 2rem;
                    font-family: "Poppins";
                    &::placeholder {
                        text-transform: capitalize;
                    }
                }
            }
            svg {
                color: $red-color;
                font-weight: 800;
                font-size: 1.3rem;
            }
            select {
                padding: 10px 20px;
                border-radius: 25px;
                cursor: pointer;
                background: rgba(245, 59, 59, 0.5);
                color: #111;
            }
            button {
                background: $red-color;
                padding: 12px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                svg {
                    color: #fff;
                }
            }
        }
        .home-count {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: 1rem 0;
            h4 {
                font-size: 1.25rem;
                font-weight: 500;
            }
            .star {
                display: flex;
                align-items: center;
                gap: 7px;
                svg {
                    color: #ffa500;
                }
            }
        }
    }
    .home-image {
        img {
            max-height: 400px;
        }
    }
}

.offers {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding: 1rem 0;
        margin-top: -4rem;
        border-radius: 10px;
    }
    .item {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 10px;
        background: #fff;
        border: 1px solid #ddd;
    }
    img {
        height: 70px;
        width: 70px;
    }
    h6 {
        font-size: 1.4rem;
        text-transform: capitalize;
    }
    p {
        text-transform: capitalize;
        font-size: 1rem;
    }
}

.mySwiper {
    width: 100%;
    height: 450px;
    .swiperslide {
        width: auto;
    }
}

.newswiper {
    width: 100%;
    height: 600px;
    .swiperslide {
        width: auto;
    }
}

.swiper-pagination {
    bottom: 10px;
}

.swiper-b {
    width: 100%;
    height: 350px;
    .swiperslide {
        width: auto;
    }
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #543d3d;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: $red-color;
    transition: all 0.3s ease;
}

.category {
    margin-top: 3rem;
    padding: 2rem 0;
    .header {
        margin-bottom: 2rem;
        p {
            width: 60%;
        }
    }
    .item {
        width: 300px;
        height: 250px;
        border: 1px solid #ddd;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.3s ease;
        gap: 1rem;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background: #800080;
            color: #fff;
            transition: all 0.3s ease;
        }
        h4 {
            text-transform: capitalize;
        }
        p {
            text-transform: capitalize;
        }
    }
    img {
        width: 100px;
        height: 100px;
    }
}

.update {
    background: url("../assets/bgimg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 800px;
    display: flex;
    align-items: center;
    z-index: -1;
    padding: 3rem 0;
    .header {
        p {
            width: 60%;
        }
    }
    .update-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        place-items: center;
    }
    .item {
        width: 330px;
        height: 500px;
        padding: 1rem;
        background: #fff;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background: #800080;
            color: #fff;
            transition: all 0.3s ease;
        }
        h4,
        h5 {
            font-weight: 500;
        }
        .header {
            padding: 5px;
            svg {
                cursor: pointer;
                font-size: 1.5rem;
                color: $red-color;
            }
        }
        .time {
            margin: 10px 0;
            div {
                display: flex;
                align-items: center;
                gap: 5px;
            }
            p {
                width: 100%;
            }
            img {
                height: 20px;
                width: 20px;
            }
        }
        .image {
            position: relative;
            img {
                transition: all 0.3s ease;
                border-radius: 15px;
            }
            .span {
                position: absolute;
                bottom: 20px;
                right: 20px;
                display: flex;
                align-items: center;
                gap: 5px;
                text-transform: uppercase;
                background: #fff;
                padding: 10px;
                border-radius: 5px;
                font-family: 'Poppins';
                h6 {
                    font-size: 1.5rem;
                    font-family: 'Poppins';
                    color: $red-color;
                }
                span {
                    color: #808080;
                    font-size: 0.8rem;
                    font-weight: 700;
                    text-decoration: line-through;
                }
            }
        }
        img {
            width: 100%;
            height: 40%;
            border-radius: 15px;
        }
        .instructor {
            display: flex;
            align-items: center;
            gap: 10px;
            text-transform: capitalize;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
        h4 {
            font-size: 1.1rem;
            font-family: 'Poppins';
            text-transform: capitalize;
        }
        .star {
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 10px 0;
            svg {
                color: #ffa500;
            }
        }
        button {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.goals {
    padding: 3rem 0;
    .header {
        p {
            width: 60%;
        }
    }
    .goals-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px 1rem;
            margin-top: 2rem;
            .item {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                border-radius: 20px;
                border: 1px solid #ddd;
                img {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
    img {
        width: 100%;
        height: 400px;
        object-fit: contain;
    }
}

.tutors {
    padding: 3rem 0;
    // background: url("../assets/bgimg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .mySwiper {
        height: 500px;
        margin-top: 2rem;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            text-align: center;
            width: 60%;
        }
    }
    .item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        background: #fff;
        border: 2px solid #ddd;
        padding: 0 0 1rem;
        border-radius: 25px;
        cursor: pointer;
        width: 310px;
        height: 410px;
        img {
            border-radius: 25px 25px 0 0;
            height: 65%;
            object-fit: cover;
        }
        h4 {
            text-transform: capitalize;
            font-weight: 600;
            text-align: center;
        }
        h6 {
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: capitalize;
            margin: 1rem 0;
        }
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    p {
        text-align: center;
        width: 60%;
    }
}

.brands {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mySwiper {
        height: 100px;
        margin-top: 1rem;
    }
    .image {
        width: 160px;
    }
    img {
        width: 150px;
        height: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
        object-fit: contain;
        margin-right: 1.5rem;
        &:hover {
            transform: scale(0.9);
            transition: all 0.3s ease;
        }
    }
}

.mentor {
    background: url("../assets/bgimg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 2rem 0;
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .div {
        margin: 1rem 0;
        div {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 10px 0;
        }
    }
    h4 {
        font-size: 2.5rem;
        font-weight: 600;
    }
    p {
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    h6 {
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 500;
    }
    svg {
        color: $red-color;
        font-size: 1.4rem;
    }
    button {
        margin-top: 1rem;
    }
}

.blogs {
    position: relative;
    .height {
        height: 500px;
    }
    h4 {
        padding: 0 10px;
    }
    .flex {
        display: flex;
        align-items: center;
        gap: 7px;
    }
    svg {
        color: $red-color;
    }
}

footer {
    background: #000;
    color: #fff;
    li {
        cursor: pointer;
        text-transform: capitalize;
        transition: all 0.3s ease;
        &:hover {
            color: $red-color;
            transition: all 0.3s ease;
        }
    }
    .footer-container {
        padding: 2rem 0 1rem;
    }
    .footer-body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        padding: 2rem 0;
        p {
            font-family: "Jost";
            font-size: 0.85rem;
        }
        ul {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        h6 {
            font-size: 1.25rem;
            text-transform: capitalize;
        }
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        p {
            text-transform: capitalize;
            font-size: 0.8rem;
        }
        .social {
            ul {
                display: flex;
                gap: 1rem;
            }
        }
    }
}

@media screen and (max-width: 64em) {
    .update {
        .update-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 900px) {
    .home-container {
        grid-template-columns: 100%;
        gap: 1rem;
        .home-text {
            h1 {
                font-size: 2rem;
            }
            p {
                margin: 5px 0;
            }
        }
        .home-image {
            img {
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    section {
        width: 90%;
    }
    nav {
        padding: 10px 0;
        height: 2rem;
    }
    .menu-btn {
        display: block;
    }
    .none {
        display: flex;
    }
    .menu {
        width: 0;
        height: 0;
        overflow: hidden;
        transition: width 0.5s ease;
    }
    .navbar {
        display: flex;
        width: 60vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: right;
        align-items: flex-start;
        gap: 3rem;
        padding: 2rem;
        background: #fff;
        color: #000;
        z-index: 100;
        transition: width 0.5s ease;
        touch-action: pan-y;
        ul {
            gap: 1.5rem;
            flex-direction: column;
        }
        li {
            a {
                font-size: 1.25rem;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
    // .nav-buttons {
    //     flex-direction: column;
    // }
    .tophead {
        font-size: 1.7rem;
    }
    .header {
        align-items: flex-start;
        flex-direction: column;
        p {
            width: 100%;
        }
    }
    .home {
        margin-top: 3rem;
    }
    .category,
    .goals,
    .update,
    .tutors {
        .header {
            flex-direction: column;
            p {
                width: 100%;
            }
        }
    }
    .offers {
        .grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .update {
        .update-container {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.5rem;
        }
        .item {
            .header {
                flex-direction: row;
            }
        }
    }
    .goals {
        .goals-container {
            grid-template-columns: 100%;
        }
    }
    .mentor {
        h4 {
            font-size: 1.75rem;
        }
        .grid {
            grid-template-columns: 100%;
        }
    }
    footer {
        .footer-body {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }
}

@media screen and (max-width: 500px) {
    section {
        width: 95%;
    }
    .navbar {
        width: 70vw;
        padding: 1rem;
    }
    .home-container {
        .home-text {
            .home-form {
                margin-top: 10px;
                width: 350px;
                form {
                    input {
                        width: 150px;
                    }
                }
                button {
                    padding: 7px;
                }
            }
            .home-count {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    .tophead {
        font-size: 1.5rem;
    }
    .offers {
        .grid {
            grid-template-columns: 100%;
        }
    }
    .goals {
        .goals-container {
            .grid {
                grid-template-columns: 100%;
                gap: 1.5rem;
            }
        }
    }
    .brands {
        img {
            width: 70px;
            margin: 0;
        }
    }
    .mentor {
        h4 {
            font-size: 1.5rem;
        }
    }
    .tutors {
        .center {
            p {
                width: 100%;
            }
        }
    }
    footer {
        .footer-body {
            grid-template-columns: 100%;
            gap: 2rem;
            ul {
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .tophead {
        font-size: 1.25rem;
    }
    .home-container {
        .home-text {
            h1 {
                font-size: 1.65rem;
            }
            .home-form {
                width: 320px;
                select {
                    width: 100px;
                }
                form {
                    input {
                        width: 120px;
                    }
                }
                button {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    svg {
                        font-size: 1rem;
                    }
                    display: block;
                    // padding: 7px;
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    .update {
        .item {
            width: 305px;
            padding: 10px;
            h4 {
                font-size: 1rem;
            }
            .time {
                p {
                    font-size: 0.7rem;
                }
            }
        }
    }
    .offers {
        h6 {
            font-size: 1rem;
        }
    }
    .mentor {
        h6,
        p {
            font-size: 0.9rem;
        }
    }
    footer {
        li {
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 370px) {
    .home-container {
        .home-text {
            select {
                font-size: 0.7rem;
            }
            .home-form {
                width: 100%;
                max-width: 300px;
                padding: 10px;
                flex-wrap: wrap;
                button {
                    width: 30px;
                    height: 30px;
                }
                form {
                    gap: 10px;
                    input {
                        width: 150px;
                    }
                }
            }
        }
    }
}